<!DOCTYPE html>
<html>
<head>
	<title>Tripplanner </title>
</head>
<body>

<div align='float'>
	<h2>Hotels: </h2>
	<select >
		{% for hotel in hotels%}
			<option > {{hotel.name}} </option>	
		{% endfor%}
	</select>

	<h2>Restaurants: </h2>
	<select>
		{% for restaurant in restaurants%}
			<option > {{restaurant.name}} </option>	
		{% endfor%}
	</select>

	<h2>Activities </h2>
	<select>
		{% for activity in activities%}
			<option> {{activity.name}} </option>	
		{% endfor%}
	</select>

	<h2>Places: </h2>
	<select>
		{% for place in places%}
			<option> {{place.address}} </option>	
		{% endfor%}
	</select>


</div>





</body>
</html>